.singleArticle {
  position: relative;
  background: var(--color-bg-dark);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.Wrapper {
  background: var(--color-bg);
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  align-items: center;
  @media(max-width: 960px) {
    width: 80%;
  }
  @media(max-width: 40em) {
    width: 95%;
  }
}

.singleArticleImage {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;

  @media (max-width: 40em) {
    height: 180px;
  }
}

.singleArticleTitleBox {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.singleArticleTitle {
  letter-spacing: 5px;
  color: var(--color-primary);
}
.singleArticleTitleInput {
  margin: 1rem 0;
  width: 60%;
  padding: 0 2rem;
  outline: none;
  background: lightgray;
  color: var(--color-primary-dark);
}

.singleArticle .icon {
  margin: 0 0.25rem;
  width: 32px;
  height: 32px;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 3px;

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.singleArticle .editBtn {
  color: var(--color-primary);
}

.singleArticle .deleteBtn {
  color: tomato;
}

.singleArticle .icon:hover {
  color: rgb(207, 207, 207);
}

.singleArticleInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  font-weight: 400;
  color: var(--color-info);

.author a {
  text-decoration: none;
  color: var(--color-info);
  font-weight: 100;

  b {
    font-weight: 400;
  }
}
.singleArticleDate {
  font-weight: 100;
  b {
    font-weight: 400;
  }
}
}

.singleArticleText {
  padding: 2rem;
  color: var(--color-primary);
  line-height: 22px;
}

.singleArticleTextInput {
  margin: 1rem 0;
  width: 80%;
  padding: 0 2rem;
  outline: none;
  background: lightgray;
  color: var(--color-primary-dark);
}

.singleArticleText::first-letter {
  margin-left: 16px;
  font-size: 30px;
  min-width: none;
  text-transform: uppercase;
}

.updateBtn {
  margin-top: 1rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  background: var(--color-bg-dark);
  color: var(--color-secondary);
  padding: 4px 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
  border-radius: 2px;
  transition: all 0.4s ease;

  &:hover {
      background: var(--color-primary);
      color: var(--color-bg);
      font-weight: 600;
      cursor: pointer;
  }
}
