.article {
  width: 30em;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }

}

.articleImg {
  height: 10em;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.articleInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.articleCat {
  a {
    text-decoration: none;
    color: var(--color-info);
    font-weight: 100;
    cursor: pointer;
    margin-left: 1rem;
    line-height: 15px;
  }
}

.articleTitle {
  a {
    font-size: 1.6rem;
    margin-left: 1rem;
    color: var(--color-primary);
  }
}

.articleDate {
  color: var(--color-info);
  margin-left: 1rem;
  font-size: 0.8rem;
  width: 100%;
  font-weight: 100;
}

.articleText {
  width: 85%;
  color: #e5e5dc;
  margin: 0.2rem 1rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
