.header {
  background: #e5e5dc;
  color: #26495c;
  width: 100%;
  margin: 2rem 1rem;
  border-top-left-radius: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0.25rem 1rem;
}

.titleTop {
  font-size: 2rem;
  font-weight: 500;
  font-weight: normal;
  margin-left: 10rem;
  margin-top: 0;
}
.titleBottom {
  font-size: 4rem;
  margin-left: 6rem;
  font-weight: 500;
  font-family: "WindSong", cursive;
}
.headerImg {
  
  background-size: contain;
  width: 100%;
  height: 260px;
  object-fit: cover;
}
