.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 8vh;
  background: var(--color-bg-lighter);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-primary);
  z-index: 100;
}

.navL {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navL {
  flex: 2;
  transition: all 0.3s ease;
}
.navR {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navCL {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: flex-start;
}

.navbar .navL ul li:hover {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.225));
  transform: scale(0.98);
  border-radius: 2px;
}


.navCR {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 100;
  font-family: "Inter", sans-serif;
  color: var(--color-primary);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0,0,0,0.25);

  @media (max-width: 1080px) {
    font-size: 1.4rem;
    line-height: 15px;
    margin-top: 0.25rem;
  }
}

.navbar .icon {
  color: var(--color-secondary);
  margin: 1rem 1.5rem;
  padding: 0.1rem 0.1rem;
  width: 32px;
  height: 32px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
.navbar .searchIcon {
  color: var(--color-secondary);
  margin: 1rem 1rem;
  padding: 0.25rem 0.25rem;
  width: 40px;
  height: 40px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.icon {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.4));
  transition: all 0.4s ease;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.navbar .profileImg {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center center;

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
    margin-left: 0.2rem;
  }
}

.profileImg {
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0,0,0,0.15));
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}


/* login sign up navbar top /or/  img */
.navbar .listItems {
  font-size: 0.8rem;
  background: #c66b3d;
  padding: 2px 4px;
  border-radius: 2px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}



.navbar ul li {

  margin: 0 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  

  /*  @media (max-width: 768px) {
    font-size: 0.6rem;
    margin-left: 0.2rem;
  } */
}

.navbar ul li a {
  
  color: var(--color-primary);
  text-decoration: none;
  padding: 0 0.25rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  cursor: pointer;
}

.navbar .navR ul li a:hover {
  color: #c66b3d;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.025));
  transition: all 0.3s ease;
}



.navbar .icon:hover {
  color: #c66b3d;
}

@media only screen and (max-width: 900) {
  .navCR {
    font-size: 1rem;
  }
}
